# Ignore virtual environment
venv/
.env/
__pycache__/
*.pyc
*.pyo
*.pyd

# macOS system files
.DS_Store

# VS Code settings
.vscode/

# Python packaging
build/
dist/
*.egg-info/
results/
trainers/
.venv/
.venv/
env/
.venv/
env/
venv/
.env
.env
AI_Powered_Mindfulness_App.git/
.env
