{% block footer %}

<section id="footer">
    <div class="footer-containers-wrapper">
        <div class="footer-items-container">

            <h2 class="footer-brand">M&B</h2>

        </div>

        <div class="footer-items-container">
            <a href="C:/Users/hp/Desktop/WEB-PROYECTS/YOGA-Code-Project/index.html">Home</a>
            <a href="#">Support</a>
            <a href="#">Blog</a>

        </div>
        <div class="footer-separator">

        </div>

        <div class="footer-items-container">
            <a href="#">Shop</a>
            <a href="#">Contact us</a>
            <a href="#">Sing In</a>
        </div>

        <div class="footer-items-container">
            <p>
                <a href="#"><i class="fab fa-facebook fa-1x"></i></a>
            </p>
            <p>
                <a href="#"><i class="fab fa-instagram fa-1x"></i></a>
            </p>
            <p>
                <a href="#"><i class="fab fa-twitter fa-1x"></i></a>
            </p>

        </div>
    </div>

    <!-- MODAL FOOTER -->

    <div id="modal-footer-wraper">
        <div class="modal-items-container">
            <div class="modal-footer-links-container">
                <a href="index.html">Home</a>
                <a href="#">Support</a>
                <a href="#">Blog</a>
            </div>

            <div class="footer-separator"></div>

            <div class="modal-footer-links-container">
                <a href="#">Shop</a>
                <a href="#">Contact us</a>
                <a href="#">Sing In</a>
            </div>
        </div>

        <div class="modal-footer-social-container">
            <p>
                <a href="#"><i class="fab fa-facebook fa-1x"></i></a>
            </p>
            <p>
                <a href="#"><i class="fab fa-instagram fa-1x"></i></a>
            </p>
            <p>
                <a href="#"><i class="fab fa-twitter fa-1x"></i></a>
            </p>
        </div>

        <h2 class="modal-footer-brand">M&B</h2>
    </div>

    <p class="copy-right">© Copy Right 2025</p>

</section>



{% endblock %}